@page
@model AIWarWeb.Pages.HowToPlayModel
@{
    ViewData["Title"] = "HowToPlay";
}

<h1>HowToPlay</h1>

<h2>Functions</h2>
my_ship() returns a tuple containing (ship : table, err : int)

<h2>Objects</h2>
<h3>GameObject</h3>
id : int, owner : string, type : string, x : int, y : int

<h3>Ship : GameObject</h3>
type = 'ship', bombsAvailable : int

<h3>Bomb : GameObject</h3>
type = 'bomb'